<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>

		<add key ="dbSET" value ="no"/>

		<!-- default -->
		<add key ="defaultTheme" value = "Dark"/>
		<add key ="defaultLanguage" value = "PL"/>

		<add key ="defaultDatabaseAddress" value = "localhost"/>
		<add key ="defaultPort" value = "3306"/>
		<add key ="defaultDatabaseUser" value = "root"/>
		<add key ="defaultDatabasePassword" value = "root"/>
		<add key ="defaultDatabaseName" value = "usb4702_logindb"/>
		<add key ="defaultCardName" value = "DemoDevice1"/>
		<add key ="defaultCommentUser" value = "This is user comment - I got some errors!"/>
		<add key ="defaultCommentAdmin" value = "This is admin comment - some instructions for user, with also will be printed to output measurment file."/>

		<!-- saved -->
		<add key ="Theme" value = "Dark"/>
		<add key ="Language" value = "PL"/>
		<add key ="DatabaseAddress" value = "localhost"/>
		<add key ="Port" value = "3306"/>
		<add key ="DatabaseUser" value = "root"/>
		<add key ="DatabasePassword" value = "root"/>
		<add key ="DatabaseName" value = "usb4702_logindb"/>
		<add key ="CardName" value = "DemoDevice1"/>
		<add key ="DatabaseName" value = "0"/>
		<add key ="DatabaseName" value = "0"/>
		<add key ="CommentUser" value = "This is user comment - I got some errors!"/>
		<add key ="CommentAdmin" value = "This is admin comment - some instructions for user, with also will be printed to output measurment file."/>


		<!-- Opcje językowe -->
		<!-- WelcomeTab -->
		<add key ="WelcomeTabNamePL" value = "Witaj"/>
		<add key ="WelcomeTabNameENG" value = "Welcome"/>
		<add key ="WelcomeLabelUsernamePL" value ="Nazwa użytkownika"/>
		<add key ="WelcomeLabelUsernameENG" value ="Username"/>
		<add key ="WelcomeLabelPasswordPL" value ="Hasło"/>
		<add key ="WelcomeLabelPasswordENG" value ="Password"/>
		<add key ="WelcomeButtonLoginPL" value ="Zaloguj się"/>
		<add key ="WelcomeButtonLoginENG" value ="Login"/>
		<add key ="WelcomeButtonRegisterPL" value ="Rejestracja"/>
		<add key ="WelcomeButtonRegisterENG" value ="Register"/>
		<add key ="WelcomeLabelRegisterPL" value ="Nowy użytkownik? Zarejestruj się!"/>
		<add key ="WelcomeLabelRegisterENG" value ="New user? Register here:"/>
		<!-- Options Tab-->
		<add key ="TabPage_OptionsPL" value = "Opcje"/>
		<add key ="TabPage_OptionsENG" value = "Options"/>
		<add key ="Options_label_bazaPL" value = "Adres bazy"/>
		<add key ="Options_label_bazaENG" value = "Database adress"/>
		<add key ="Options_label_passwordPL" value = "Hasło"/>
		<add key ="Options_label_passwordENG" value = "Password"/>
		<add key ="Options_label_userPL" value = "Login"/>
		<add key ="Options_label_userENG" value = "User"/>
		<add key ="Options_label_themePL" value = "Opcje wyglądu"/>
		<add key ="Options_label_themeENG" value = "Theme options"/>
		<add key ="Options_label_languagePL" value = "Opcje językowe"/>
		<add key ="Options_label_languageENG" value = "Language options"/>
		<add key ="Options_label_databasePL" value = "Opcje bazy"/>
		<add key ="Options_label_databaseENG" value = "Database options"/>
		<add key ="Options_label_cardPL" value = "Opcje karty"/>
		<add key ="Options_label_cardENG" value = "Card options"/>
		<add key ="Options_label_cardModulePL" value = "Moduł karty"/>
		<add key ="Options_label_cardModuleENG" value = "Card module"/>
		<add key ="Options_label_cardNamePL" value = "Nazwa karty"/>
		<add key ="Options_label_cardNameENG" value = "Card name"/>
		<add key ="Options_label_cardNumberPL" value = "Numer karty"/>
		<add key ="Options_label_cardNumberENG" value = "Card number"/>
		<add key ="Options_label_adminCommentENG" value = "Admin comment"/>
		<add key ="Options_label_adminCommentPL" value = "Komentarz admina"/>
		<add key ="Options_label_userCommentPL" value = "Komentarz użytkownika"/>
		<add key ="Options_label_userCommentENG" value = "User comment"/>
		<add key ="Options_label_commentOptionsENG" value = "Comment options"/>
		<add key ="Options_label_commentOptionsPL" value = "Opcje komentarzy"/>
		<add key ="Options_button_applyChangesENG" value = "Apply changes"/>
		<add key ="Options_button_applyChangesPL" value = "Zastosuj zmiany"/>
		<add key ="Options_button_backToDefaultsPL" value = "Przywróć domyślne"/>
		<add key ="Options_button_backToDefaultsENG" value = "Back to defaults"/>
		<add key ="Options_button_clearResultsENG" value = "Clear results"/>
		<add key ="Options_button_clearResultsPL" value = "Wyczyść wyniki"/>

		<!--MyMeasurments-->
		<add key ="TabPage_MyMeasurementsENG" value = "My Measurments"/>
		<add key ="TabPage_MyMeasurementsPL" value = "Moje pomiary"/>
		<add key ="MM_button_newMeasureENG" value = "New measure"/>
		<add key ="MM_button_newMeasurePL" value = "Nowy pomiar"/>
		<!-- Measure -->
		<add key ="Measure_button_returnPL" value = "Powrót"/>
		<add key ="Measure_button_returnENG" value = "Return"/>
		<add key ="TabPage_MeasurePL" value = "Wybór pomiaru"/>
		<add key ="TabPage_MeasureENG" value = "Measure"/>

		<!--AnalogBufferedInputTab-->
		<add key ="ABITabPL" value = "Analogowe wejście z buforem"/>
		<add key ="ABITabENG" value = "Analog Buffered Input"/>
		<add key ="ABIButtonBackPL" value = "Powrót"/>
		<add key ="ABIButtonBackENG" value = "Back"/>
		<add key ="ABIButtonMeasurePL" value = "Pomiar"/>
		<add key ="ABIButtonMeasureENG" value = "Measure"/>
		<add key ="ABI_label_optionsENG" value = "Measurment Options"/>
		<add key ="ABI_label_optionsPL" value = "Opcje pomiaru"/>
		<add key ="ABI_button_measureOptionsENG" value = "Custom"/>
		<add key ="ABI_button_measureOptionsPL" value = "Edytuj"/>
		<add key ="ABI_button_defaultsENG" value = "Defaults"/>
		<add key ="ABI_button_defaultsPL" value = "Domyślne"/>
		<add key ="ABI_label_detailsENG" value = "Details about measurment"/>
		<add key ="ABI_label_detailsPL" value = "Informacje o pomiarze"/>
		<add key ="ABI_label_endTimeENG" value = "End"/>
		<add key ="ABI_label_endTimePL" value = "Koniec"/>
		<add key ="ABI_label_durationENG" value = "Duration"/>
		<add key ="ABI_label_durationPL" value = "Czas trwania"/>
		<add key ="ABI_button_backENG" value = "Back"/>
		<add key ="ABI_button_backPL" value = "Powrót"/>
		<add key ="ABI_label_trackBar2ENG" value = "Position X: 50 %"/>
		<add key ="ABI_label_trackBar2PL" value = "Pozycja X: 50 %"/>

		<!--AnalogInstantInputTab-->
		<add key ="AII_label_optionsENG" value = "Measurment Options"/>
		<add key ="AII_label_optionsPL" value = "Opcje pomiaru"/>
		<add key ="AII_button_editOptionsENG" value = "Custom"/>
		<add key ="AII_button_editOptionsPL" value = "Edytuj"/>
		<add key ="AII_button_defaultsENG" value = "Defaults"/>
		<add key ="AII_button_defaultsPL" value = "Domyślne"/>
		<add key ="AII_label_viewOptionsENG" value = "View options"/>
		<add key ="AII_label_viewOptionsPL" value = "Opcje widoku"/>
		<add key ="AII_label_movingWindowENG" value = "Moving window"/>
		<add key ="AII_label_movingWindowPL" value = "Poruszające się okno"/>
		<add key ="AII_label_detailsENG" value = "Details of measurment"/>
		<add key ="AII_label_detailsPL" value = "Informacje o pomiarze"/>
		<add key ="AII_label_endENG" value = "End"/>
		<add key ="AII_label_endPL" value = "Koniec"/>
		<add key ="AII_label__durationENG" value = "Duration"/>
		<add key ="AII_label__durationPL" value = "Czas trwania"/>
		<add key ="AII_label_currentPointsENG" value = "Last points"/>
		<add key ="AII_label_currentPointsPL" value = "Ostatnie punkty"/>
		<add key ="AII_label_channelENG" value = "Channel"/>
		<add key ="AII_label_channelPL" value = "Kanał"/>
		<add key ="AII_label_valueENG" value = "Value"/>
		<add key ="AII_label_valuePL" value = "Wartość"/>
		<add key ="AII_button_backENG" value = "Back"/>
		<add key ="AII_button_backPL" value = "Powrót"/>
		<add key ="AII_button_measureENG" value = "Measure"/>
		<add key ="AII_button_measurePL" value = "Pomiar"/>


		<!--Results-->
		<add key ="TabPage_LastMeasureENG" value = "Results"/>
		<add key ="TabPage_LastMeasurePL" value = "Wyniki"/>
		<add key ="Results_button_exportToTXTENG" value = "Save"/>
		<add key ="Results_button_exportToTXTPL" value = "Zapisz"/>


	</appSettings>
</configuration>