<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key ="defaultTheme" value = "Light"/>
		
		<add key ="defaultLanguage" value = "ENG"/>
		
		<add key ="defaultDatabaseAddress" value = "localhost"/>
		<add key ="defaultPort" value = "3306"/>
		<add key ="defaultDatabaseUser" value = "root"/>
		<add key ="defaultDatabasePassword" value = "root"/>
		
		<!-- Opcje językowe -->
		<!-- WelcomeTab -->
		<add key ="WelcomeTabNamePL" value = "Witaj"/>
		<add key ="WelcomeTabNameENG" value = "Welcome"/>
		<add key ="WelcomeLabelUsernamePL" value ="Nazwa użytkownika"/>
		<add key ="WelcomeLabelUsernameENG" value ="Username"/>
		<add key ="WelcomeLabelPasswordPL" value ="Hasło"/>
		<add key ="WelcomeLabelPasswordENG" value ="Password"/>
		<add key ="WelcomeButtonLoginPL" value ="Zaloguj się"/>
		<add key ="WelcomeButtonLoginENG" value ="Login"/>
		<!--AnalogBufferedInputTab-->
		<add key ="ABITabPL" value = "Analogowe wejście z buforem"/>
		<add key ="ABITabENG" value = "Analog Buffered Input"/>
		<add key ="ABISamplesPL" value = "Liczba próbek"/>
		<add key ="ABISamplesENG" value = "Samples"/>
		<add key ="ABIChannelsPL" value = "Liczba kanałów"/>
		<add key ="ABIChannelsENG" value = "Channels"/>
		<add key ="ABIChannelStartPL" value = "Kanał startowy"/>
		<add key ="ABIChannelStartENG" value = "Channel start"/>
		<add key ="ABIIntervalCountPL" value = "Interwał"/>
		<add key ="ABIIntervalCountENG" value = "Interval count"/>
		<add key ="ABIScanCountPL" value = "Skanowanie"/>
		<add key ="ABIScanCountENG" value = "Scan count"/>
		<add key ="ABIRatePL" value = "Częstotliwość"/>
		<add key ="ABIRateENG" value = "Rate"/>
		<add key ="ABIButtonBackPL" value = "Powrót"/>
		<add key ="ABIButtonBackENG" value = "Back"/>
		<add key ="ABIButtonMeasurePL" value = "Measure"/>
		<add key ="ABIButtonMeasureENG" value = "Pomiar"/>
	</appSettings>
</configuration>