<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key ="defaultTheme" value = "Dark"/>
		
		<add key ="defaultLanguage" value = "PL"/>
		
		<add key ="defaultDatabaseAddress" value = "localhost"/>
		<add key ="defaultPort" value = "3306"/>
		<add key ="defaultDatabaseUser" value = "root"/>
		<add key ="defaultDatabasePassword" value = "root"/>
		
		<!-- Opcje językowe -->
		<!-- WelcomeTab -->
		<add key ="WelcomeTabNamePL" value = "Witaj"/>
		<add key ="WelcomeTabNameENG" value = "Welcome"/>
		<add key ="WelcomeLabelUsernamePL" value ="Nazwa użytkownika"/>
		<add key ="WelcomeLabelUsernameENG" value ="Username"/>
		<add key ="WelcomeLabelPasswordPL" value ="Hasło"/>
		<add key ="WelcomeLabelPasswordENG" value ="Password"/>
		<add key ="WelcomeButtonLoginPL" value ="Zaloguj się"/>
		<add key ="WelcomeButtonLoginENG" value ="Login"/>
		<add key ="WelcomeButtonRegisterPL" value ="Rejestracja"/>
		<add key ="WelcomeButtonRegisterENG" value ="Register"/>
		<add key ="WelcomeLabelRegisterPL" value ="Nowy użytkownik? Zarejestruj się!"/>
		<add key ="WelcomeLabelRegisterENG" value ="New user? Register here:"/>
		<!-- Options Tab-->
		<add key ="TabPage_OptionsPL" value = "Opcje"/>
		<add key ="TabPage_OptionsENG" value = "Options"/>
		<add key ="Options_label_bazaPL" value = "Adres bazy"/>
		<add key ="Options_label_bazaENG" value = "Database adress"/>
		<add key ="Options_label_passwordPL" value = "Hasło"/>
		<add key ="Options_label_passwordENG" value = "Password"/>
		<add key ="Options_label_userPL" value = "Login"/>
		<add key ="Options_label_userENG" value = "User"/>
		<add key ="Options_label_themePL" value = "Opcje wyglądu"/>
		<add key ="Options_label_themeENG" value = "Theme options"/>
		<add key ="Options_label_languagePL" value = "Opcje językowe"/>
		<add key ="Options_label_languageENG" value = "Language options"/>
		<add key ="Options_label_databasePL" value = "Opcje bazy"/>
		<add key ="Options_label_databaseENG" value = "Database options"/>
		<add key ="Options_label_cardPL" value = "Opcje karty"/>
		<add key ="Options_label_cardENG" value = "Card options"/>
		<add key ="Options_label_cardModulePL" value = "Moduł karty"/>
		<add key ="Options_label_cardModuleENG" value = "Card module"/>
		<add key ="Options_label_cardNamePL" value = "Nazwa karty"/>
		<add key ="Options_label_cardNameENG" value = "Card name"/>
		<add key ="Options_label_cardNumberPL" value = "Numer karty"/>
		<add key ="Options_label_cardNumberENG" value = "Card number"/>
		<add key ="Options_label_adminCommentENG" value = "Admin comment"/>
		<add key ="Options_label_adminCommentPL" value = "Komentarz admina"/>
		<add key ="Options_label_userCommentPL" value = "Komentarz użytkownika"/>
		<add key ="Options_label_userCommentENG" value = "User comment"/>
		<add key ="Options_label_commentOptionsENG" value = "Comment options"/>
		<add key ="Options_label_commentOptionsPL" value = "Opcje komentarzy"/>
		<add key ="Options_button_applyChangesENG" value = "Apply changes"/>
		<add key ="Options_button_applyChangesPL" value = "Zastosuj zmiany"/>
		<add key ="Options_button_backToDefaultsPL" value = "Przywróć domyślne"/>
		<add key ="Options_button_backToDefaultsENG" value = "Back to defaults"/>
		<add key ="Options_button_clearResultsENG" value = "Clear results"/>
		<add key ="Options_button_clearResultsPL" value = "Wyczyść wyniki"/>

		<!--MyMeasurments-->
		<add key ="TabPage_MyMeasurementsENG" value = "My Measurments"/>
		<add key ="TabPage_MyMeasurementsPL" value = "Moje pomiary"/>
		<add key ="MM_button_newMeasureENG" value = "New measure"/>
		<add key ="MM_button_newMeasurePL" value = "Nowy pomiar"/>
			 
		<!--AnalogBufferedInputTab-->
		<add key ="ABITabPL" value = "Analogowe wejście z buforem"/>
		<add key ="ABITabENG" value = "Analog Buffered Input"/>
		<add key ="ABISamplesPL" value = "Liczba próbek"/>
		<add key ="ABISamplesENG" value = "Samples"/>
		<add key ="ABIChannelsPL" value = "Liczba kanałów"/>
		<add key ="ABIChannelsENG" value = "Channels"/>
		<add key ="ABIChannelStartPL" value = "Kanał startowy"/>
		<add key ="ABIChannelStartENG" value = "Channel start"/>
		<add key ="ABIIntervalCountPL" value = "Interwał"/>
		<add key ="ABIIntervalCountENG" value = "Interval count"/>
		<add key ="ABIScanCountPL" value = "Skanowanie"/>
		<add key ="ABIScanCountENG" value = "Scan count"/>
		<add key ="ABIRatePL" value = "Częstotliwość"/>
		<add key ="ABIRateENG" value = "Rate"/>
		<add key ="ABIButtonBackPL" value = "Powrót"/>
		<add key ="ABIButtonBackENG" value = "Back"/>
		<add key ="ABIButtonMeasurePL" value = "Measure"/>
		<add key ="ABIButtonMeasureENG" value = "Pomiar"/>
	</appSettings>
</configuration>